{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter un Coach</h1>
    {{ form_errors(form.cin) }}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
